<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="css/error.css">
</head>
<body>
    <form action="/new-password" method="POST">
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <button class="btn" type="submit">Update Password</button>
    </form>
    
 <%- include('../includes/tail.ejs')%> 