<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="css/error.css">
</head>
<body>
    <p>Thank you for signUp</p>
    <p>we are working on your input</p>
    <p>if we find that your input are valid then we will send your credentails at your email</p>
    <a href="/">Go back</a>
    
<%- include('../includes/tail.ejs')%>