<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="css/signupmain.css">
</head>
<body>
    <%- include('../includes/navbar.ejs')%>
    <div class="signup">
        <div class="boxes">
            <div class="donor"><a href="/usersignup">Sign up as donor</a></div>
            <div class="donor"><a href="/ngosignup">sign up as NGO</a></div>
        </div>
    </div>
    
<%- include('../includes/tail.ejs')%>