<nav class="navilist">
    <div class="left">
        <img id="logo" src="images/raktlogo.png" alt="">
        <ul class="list">
            <li class="listing"> <a href="/"> HOME</a></li>

            <li class="listing"> <a href="/about"> ABOUT US</a></li>
            <li class="listing"><a href="/donate"> DONATE</a></li>
            <li class="listing"><a href="/donorcommunity"> DONOR COMMUNITY</a></li>
            <li class="listing"><a href="/ngocommunity">NGO COMMUNITY</a></li>
        </ul>
    </div>
    <% if(!isAuth){%>
        <div class="right">
            <ul class="list">
                <li class="listing"> <a href="/login">LOGIN</a> </li>
                <li class="listing"> <a href="/signup">SIGNUP</a> </li>
            </ul>
        </div>
        <%}else{%>
            <% if(userData){%>
                <% if(!userData.isAdmin){%>
                    <div class="right">
                        <ul class="list">
                            <li class="listing imgprofile">
                                <div class="dropdown">
                                    <% if(userData.profileUrl){%>
                                        <button class="dropbtn"><img id="profileimg" class="profileimg"
                                                src="/<%=userData.profileUrl%>" alt="profile"></button>
                                        <%}else{%>
                                            <button class="dropbtn"><img id="profileimg" class="profileimg"
                                                    src="images/profile.jpg" alt="profile"></button>
                                            <%}%>

                                                <div class="dropdown-content">
                                                    <a href="/profile">Profile</a>
                                                    <a href="/joincommunity">Join Community</a>
                                                    <a href="/logout">Logout</a>

                                                </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <%}else{%>
                        <a href="/adminlist">List Of Ngo</a>
                        <a href="/logout">Logout</a>
                    <%}%>
            <%}%>
        <%}%>
</nav>