<nav class="navilist">
    <div class="left">
        <img id="logo" src="images/raktlogo.png" alt="">
        <ul class="list">
            <li class="listing"> <a href="/"> HOME</a></li>

            <li class="listing"> <a href="/about"> ABOUT US</a></li>
            <li class="listing"><a href="/donate"> DONATE</a></li>
            <li class="listing"><a href="/donorcommunity"> DONOR COMMUNITY</a></li>
        </ul>
    </div>
    <div class="right">
        <ul class="list">
            <li class="listing"> <a href="/login">LOGIN</a> </li>
            <li class="listing"> <a href="/signup">SIGNUP</a> </li>
        </ul>
    </div>
</nav>