<%- include('./includes/head.ejs')%>
    <link rel="stylesheet" href="css/aboutus.css">
    <!-- <link rel="stylesheet" href="css/index.css"> -->
    </head>

    <body>
        <%- include('./includes/navbar.ejs')%>

            <div class="baap">
                <div class="box1">
                    <div class="donationimg">
                        <h2 id="imagedonation">What's The Issue ?</h2>
                    </div>

                    <div class="boxwhy">

                        <!-- <img src="images/community.jpg" alt=""> -->
                        <div class="boxwhy2img">
                            <img src="images/News.png" alt="">
                        </div>
                        <div class="boxwhy_box2">
                            <p>
                                The blood shortage issue in India is a complex problem with many contributing factors.
                                In addition to a lack of awareness about the importance of blood donation, there are
                                also challenges with the storage and transportation of blood units, as well as issues
                                with the overall supply chain management. These challenges can result in a shortage of
                                blood units, particularly in rural and underserved areas where access to medical care is
                                limited. It is essential that we work together to find solutions to the blood shortage
                                issue in India, and organizations like RedToLiFE are making a difference by connecting
                                donors with those in need and improving the supply chain management process.
                            </p>
                        </div>

                    </div>

                </div>
                <div class="box1">

                    <div class="boxwhy2">

                        <!-- <img src="images/community.jpg" alt=""> -->
                        <div class="boxwhy_box2">
                            <p>RedToLiFE is dedicated to improving the blood supply and demand ratio in India by
                                connecting donors with those in need of blood transfusions. By partnering with blood
                                banks and NGOs, we aim to streamline the process of obtaining blood units and ensure
                                that everyone has access to life-saving transfusions in a timely manner. Our platform is
                                designed to be user-friendly and accessible, allowing donors to quickly and easily find
                                nearby blood banks and connect with individuals in need of blood. We believe that
                                everyone should have access to the medical care they need, and we are proud to play a
                                role in making this a reality.

                            </p>
                        </div>
                        <div class="boxwhy2img">
                            <img src="images/Community.png" alt="">
                        </div>

                    </div>

                    <div class="donationimg2">
                        <h2 id="imagedonation">Who We Are?</h2>
                    </div>

                </div>
                <div class="how">
                    <h1>
                        How Do We Work?
                    </h1>
                </div>
                <div class="box2">
                    <div class="box21">
                        <div class="head">
                            <img class="side" src="images/blood.png" alt="">
                            <!-- <h1>Find Donors in your area</h1> -->
                            <a class="aboutlink" href="/donorcommunity">Find Donors in your area</a>
                        </div>

                        <div>

                            <p>Now blood donors are few taps away. Enter the state and locate all the available
                                donors/blood banks from your nearby and get immediate response without much delay.
                            </p>
                            <p>
                            </p>
                        </div>
                        <div>
                            <img class="box2img1" src="images/2.png" alt="">
                        </div>
                    </div>

                    <div class="box22">
                        <div>
                            <img class="box2img2" src="images/temp.png" alt="">
                        </div>
                        <div class="head">
                            <img class="side" src="images/blood.png" alt="">
                            <!-- <h1>Find Blood Banks near you</h1> -->
                            <a class="aboutlink" href="/donate">Find Blood Banks near you</a>
                        </div>
                        <div>

                            <p>Finding blood banks became easier. Locate nearby blood banks using pin code and donate
                                blood to be the reason of someone'e existence.
                            </p>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="box3">
                    <div class="box31">
                        <div class="head">
                            <img class="side" src="images/blood.png" alt="">
                            <!-- <h1>Connect Donors for Blood Transfusion</h1> -->
                            <a class="aboutlink" href="/donorcommunity">Connect Donors for Blood Transfusion</a>
                        </div>
                        <div>

                            <p>Find a suitable donor for your need and send them a request for blood requirement and get
                                blood transfusion on time.
                            </p>
                            <p>
                            </p>
                        </div>
                        <div>
                            <video class="box3img1" src="images/Temp.mp4"></video>
                        </div>
                    </div>


                    <div class="box32">
                        <div>
                            <img class="box3img2" src="images/4.png" alt="">
                        </div>
                        <div class="head">
                            <img class="side" src="images/blood.png" alt="">
                            <!-- <h1>Join our Donors and NGO Communities</h1> -->
                            <a class="aboutlink" href="/ngocommunity">Join our Donors and NGO Communities</a>
                        </div>
                        <div>

                            <p>Donors and NGOs can join our community for the social cause and can create an impact by
                                showing their at most sincerity towards humanity by being available for emergency blood
                                needs.
                            </p>
                            <p>
                            </p>
                        </div>
                    </div>

                </div>


                <footer class="footer">

                    <div class="footi">
                        <div class="footii">
                            <p>Mail Us At:</p>
                            <a href="redtolife@gmail.com">redtolife@gmail.com</a>
                        </div>
                    </div>
                    <div class="footm">
                        <div class="footmi">
                            <img class="bloodimg" src="images/logo.png" alt="">
                            <h2>redToLIFE</h2>
                            <p>redTOLiFE | HackJMI | Jamia Millia Islamia University</p>
                        </div>
                    </div>
                    <div class="footl">
                        <p>Follow Us</p>
                        <div class="footimage">
                            <a href=""><img class="imagefoot" src="/images/facebook.png" alt=""></a>
                            <a href=""><img class="imagefoot1" src="/images/instagram.png" alt=""></a>
                            <a href=""><img class="imagefoot" src="/images/twitter.png" alt=""></a>
                        </div>
                    </div>


                </footer>
                <script src="js/main.js"></script>
                <script src="js/login.js" defer></script>

    </body>

    </html>