<%- include('./includes/head.ejs')%>
    <link rel="stylesheet" href="css/aboutus.css">
    <!-- <link rel="stylesheet" href="css/index.css"> -->
    </head>

    <body>
        <%- include('./includes/navbar.ejs')%>

            <div class="baap">
                <div class="box1">

                    <div class="donationimg">
                        <h2 id="imagedonation">Who We Are</h2>
                        <img class="image" src="images/1.png" alt="">
                    </div>

                    <div class="boxwhy">


                        <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam sapiente maiores
                            reiciendis, fuga itaque libero optio ad qui, ipsam eaque magnam ratione velit unde error,
                            fugit
                            corporis nemo corrupti praesentium? Aperiam, assumenda odio esse totam saepe aliquid beatae
                            omnis placeat similique impedit adipisci neque nisi asperiores mollitia repudiandae
                            cupiditate?
                        </p>
                    </div>

                </div>

                <div class="box2">
                    <div class="box21">
                        <div class="head">
                            <img class="side" src="images/3.png" alt="">
                            <h4>Find donors in your area</h4>
                        </div>

                        <div>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ducimus nam eius.
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ducimus nam eius.
                            </p>
                        </div>
                        <div>
                            <img class="box2img1" src="images/3.png" alt="">
                        </div>
                    </div>

                    <div class="box22">
                        <div>
                            <img class="box2img2" src="images/2.png" alt="">
                        </div>
                        <div class="head">
                            <img class="side" src="images/3.png" alt="">
                            <h4>Support blood tranfusion</h4>
                        </div>
                        <div>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ducimus nam eius.
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ducimus nam eius.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="box3">
                    <div class="box31">
                        <div class="head">
                            <img class="side" src="images/3.png" alt="">
                            <h4>Join our donor community</h4>
                        </div>
                        <div>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ducimus nam eius.
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ducimus nam eius.
                            </p>
                        </div>
                        <div>
                            <video class="box3img1" src="images/Temp.mp4"></video>
                        </div>
                    </div>


                    <div class="box32">
                        <div>
                            <img class="box3img2" src="images/4.png" alt="">
                        </div>
                        <div class="head">
                            <img class="side" src="images/3.png" alt="">
                            <h4>Support blood tranfusion</h4>
                        </div>
                        <div>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ducimus nam eius.
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ducimus nam eius.
                            </p>
                        </div>
                    </div>

                </div>


                <footer class="footer">

                    <div class="footi">
                        <div class="footii">
                            <p>Mail Us At:</p>
                            <a href="redtolife@gmail.com">redtolife@gmail.com</a>
                        </div>
                    </div>
                    <div class="footm">
                        <div class="footmi">
                            <img class="bloodimg" src="/public/images/blood.png" alt="">
                            <h2>redToLIFE</h2>
                            <p>redTOLiFE | HackJMI | Jamia Millia Islamia University</p>
                        </div>
                    </div>
                    <div class="footl">
                        <p>Follow Us</p>
                        <div class="footimage">
                            <a href=""><img class="imagefoot" src="/images/facebook.png" alt=""></a>
                            <a href=""><img class="imagefoot" src="/images/instagram.png" alt=""></a>
                            <a href=""><img class="imagefoot" src="/images/twitter.png" alt=""></a>
                        </div>
                    </div>


                </footer>
                <script src="js/main.js"></script>
                <script src="js/login.js" defer></script>

    </body>

    </html>