<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/chat_page.css">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <h1 class="head">Abbas</h1>
        <div class="msgbox">
            <p class="left">hey abbas</p>
            <p class="right">hlo khuban</p>
            <p class="left">hwr abbas</p>
            <p class="right">im fine khuban</p>
            <form class="btn" action="">
                <input type="text">
                <button  type="submit">Send</button>
            </form>
        </div>
    </div>
</body>

</html>