*{
    margin: 0;
    padding: 0;
}
h1{
  font-size: 3vw;
  /* color: #fff; */
  /* font-weight: bold; */
  text-transform: uppercase;
  font-weight: bold;
  /* text-align: center; */
  margin-bottom: 15px;
  }
.donatemainbox{
    background-color: #ffe9f4;
    height: 100vh;
    display: flex;
    width: 100vw;
}
.donatemainbox1{
    height: 90vh;
    width: 60vw;
}
.donatemainbox1 h1{
    padding-top: 7vh;
    font-size: 6vh;
    margin-bottom: 3vh;
    padding-left: 2vw;
}
.donatemainbox1 p{
    font-size: 3.6vh;
    padding-top: 1.5vh;
    padding-left: 2vw;
}
.donatemainbox2{
    height: 90vh;
    width: 40vw;
    font-size: 2.6vw;
    position: relative;
    left: 3vw;
    top: 10vw;
}
.donatemainbox1vid{
    height: 62vh;
    width: 39vw;
    margin-top: 4vh;
}
.pincodein{
    height: 5vh;
    width: 13vw;
}
.statein{
  width: 13vw;
  height: 6.2vh;
  margin-left: 0vw;
}
.labelpin{
    height: 5vh;
    width: 13vw;
    margin-right: 1vw;
}
.labelst{
    margin-right: 4.6vw;
}
.btnsub{
  position: relative;
  width: 11vw;
  border: 2px solid;
  border-radius: 15px;
  right: 25.3vw;
  top: 4.4vw;
  height: 3.2vw;
  font-size: 1.6vw;
}

  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{

    background: -webkit-linear-gradient(left, #fcf1f1, #fbd3d0);
    background: linear-gradient(to right, #fdefef, #ffdfdb);
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
    border: 2px solid;
  }
  
  
  /* follow me template */

  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }