*{
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
    height: 50vh;
    /* background-color: antiquewhite; */
    display: flex;
}
.box1{
    margin: 3vh;
    width: 68vw;
    height: 45vh;
    /* background-color: aqua; */
}
.box1 img{
    width: 65vw;
    height: 45vh;
    /* border-radius: 9px; */
}
.box2{
    position: relative;
    font-size: 3vw;
    top: 25vh;
    font-weight: 600;
    
}
.box2 a{
    text-decoration: none;
    /* color: black; */
    color: #b91816;
    border: 5px solid #b91816;
    border-radius: 4vh;
    padding: 3px 4px;
   

}
.listdc{
    width: 90%;
    height: 20vh;
    background-color: rgb(249, 187, 183);
    margin-top: 5vh;
    margin-left: 5vw;
    border-radius: 2vh;
    display: flex;
}
.listdcdiv{
    position: relative;
    left: 3vw;
    top: 3vh;
    
   font-size: 1.5vw;
    height: 20vh;
    width: 18vw;
}
.info{
    margin-bottom: 2vh;
    font-size: 1.8vw;
    font-weight: 600;
}
.joincommain{
    height: 50vh;
    width: 70vw;
    background-color: aquamarine;
    position: relative;
    left: 15vw;
    margin-top: 4vh;
    border-radius: 3vh;
}
.joincomlist{
    list-style: none;
    align-items: center;
}
.joincomlistmain{
    position: relative;
    left: 10vw;
    top: 9vh;
    font-size: 1.5vw;
    margin-top: 2vw;
}