*{
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
    height: 50vh;
    /* background-color: antiquewhite; */
    display: flex;

}
.box1{
    margin: 3vh;
    margin-top: 4.5vh;
    width: 68vw;
    height: 47vh;
    margin-left: 2vw;
   
}
.box1 img{
    width: 65vw;
    height: 45vh;
    /* border-radius: 9px; */
}
.box2{
  
    height: 42vh;
    width: 30vw;
 font-size: 3vw;
    font-weight: 600;
    /* background-color: #b91816; */
    /* background-color: yellow; */
   margin-top: 5vh;

    
}
.lining{
    margin-top: 4vh;
}
.box2 a{
    text-decoration: none;
    /* color: black; */
    color: #b91816;
    border: 3px solid #b91816;
    border-radius: 15px;
    padding: 3px 4px;
    font-size: 1.5rem;
   width: 5vw;
   height: 4vh;
   margin-left: 6.3vw;
   margin-bottom: 2vh;

}
.listdc{
    width: 95vw;
    height: 20vh;
    background-color: white;
    /* border: 2px solid #b91816; */
    box-shadow: 3px 5px 4px gray;
    margin-top: 5vh;
    margin-left: 1.8vw;
    border-radius: 2vh;
    display: flex;
}
.listdcdiv{
    position: relative;
    left: 4vw;
    top: 3vh;
    
   font-size: 1.5vw;
    height: 20vh;
    width: 18vw;
}
.info{
    margin-bottom: 2vh;
    font-size: 1.8vw;
    font-weight: 600;
}
.joincommain{
    height: 50vh;
    width: 70vw;
    background-color: aquamarine;
    position: relative;
    left: 15vw;
    margin-top: 4vh;
    border-radius: 3vh;
}
.joincomlist{
    list-style: none;
    align-items: center;
}
.joincomlistmain{
    position: relative;
    left: 10vw;
    top: 9vh;
    font-size: 1.5vw;
    margin-top: 2vw;
}
form label{
    font-size: 2rem;
    color: #b91816;
    margin-left: 5.8vw;
    
}
form input{
    font-size: 1rem;
    width: 15vw;
    height: 4vh;
    color: #b91816;
    background-color: white;
    border: 2px solid #b91816;
    margin-left: 6vw;
    border-radius: 13px;
    padding-left: 4px;
}
.search{
    margin-top: 4vh;

}
.btndonor{
    width: 10vw;
    height: 5.2vh;
    border-radius: 16px;
    border:2px solid #b91816;
    margin-left: 8.7vw;
   
}
#communa{
    font-size: 1.2rem;
    margin-left: 6.2vw;
    margin-bottom: 2vh;
    color: orangered;
}