
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans:ital,wght@1,300&family=Source+Sans+Pro&display=swap');

*{
    margin:0;
    padding: 0;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
body{

    overflow-x: hidden;
}

/* .navilist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color:#E63838;
    color: white;
    font-size: 1.2rem;
    /* font-weight: 600;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} */ */
.box1{
    display: flex;
    height: 82vh ;
}
.boxwhy{
    width: 60vw;
    height: 75vh;
    background-color: white;
    margin: 6vh 4vw;
    border: solid rgb(174, 167, 167);
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.donationimg{
    width: 38vw;
    height: 75vh;
   
    margin: 6vh 4vw;
}
#imagedonation{
    text-align: center;
    color: #E63838;
    font-size: 5rem;
    font-weight: bolder;
}
.image{
    height: 55vh;
    width: 35vw;
}
.para{
    margin: 3vh 3vw;
    font-size: 1rem;
    font-weight: 600;
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p1{
    font-size: 0.9rem;
}
#headingwhy{
    text-align: center;
    font-weight: bolder;
    color: #E63838
    6;
    font-family: 'Source Sans Pro', sans-serif;

}
.box2{
    display: flex;
    margin: 4vh 3vw;
    border-radius: 5px;
    border: solid rgb(173, 170, 170);
    height: 90vh;
}
.dropbox{
    height: 80vh;
    width: 30vw;
}
.imagedrop{
    height:28vh ;
    width: 30vw;
    
}
.eligibilitybox{
    height: 75vh;
    width: 60vw;
    margin: 2vh 3vw;
    /* background-color: red; */
}
.eligibilitybox p{
    font-size: 1.5vw;
    font-weight: 300;
    /* border: 2px solid rgb(182, 176, 176); */
    /* margin-left: 2vw; */
    padding-left: 20vw;
    margin-top: 1vw;
}
#eligibilityhead{
    text-align: center;
    font-size: 2.7rem;
    color: #E63838;
    font-family: 'Source Sans Pro', sans-serif;

}
.box3{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 70vh;
    /* background-color: yellow; */
    margin-left: 2vw;
    margin-right: 2vw;
}
.inp{
    justify-content: center;
    height: 7vh;
    width: 40vw;
    border-radius: 13px ;
    border: solid #E63838
    ;
    padding: 4px;
    margin-top: 2.2vh;
    margin-left: 8vw;


}
.box3 label{
    font-size: 1rem;
    margin-left: 8vw;
    padding-top: 1.3vh;
}
.inplast{
    width:41vw ;
    margin-top: 4vh;
    height: 10vh;
}
.btn{
    width: 10vw;
    height: 10vh;
    margin-top: 5vh;
    margin-left: 24vw;
    border-radius: 15px;
    background-color: rgb(164, 159, 159);

}
.rect{
    width: 98vw;
    height: 60vh;
    display: flex;
    /* border: solid gray; */
    box-shadow:  4px 4px 6px gray;
    margin-bottom: 9vh;
}
.before{
   
    height:50vh ;
    width: 30vw;
    border-radius: 5px;
    border: solid #E63838
    ;
    margin: 10px;
}
.after{
   
    height:50vh ;
    width: 30vw;
    border-radius: 5px;
    border: solid #E63838
    ;
    margin: 10px;
}
.during{
   
    height:50vh ;
    width: 30vw;
    border-radius: 5px;
    border: solid #E63838
    ;
    margin: 10px;
}
.recthead{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
}
.footer{
    display: flex;
    height: 30vh;
    width: 100vw;
    background-color: #E63838
    ;
}

.footi{
    
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 33vw;
    background-color: #E63838
    ;
    color: white;
    font-size: 1rem;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
} 
.footii{
    padding-top: 18%;
    padding-right: 30%;
}
.footi p{
    font-weight: 1000;
}
.footi a{
    color: white;
    padding: 10%;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;
    align-items: center;
}

.footm{
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 33vw;
    background-color: #E63838
    ;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
    align-items: center;

}
.footmi{
    padding-top: 10%;
}
.footmi h2{
    font-weight: 1000;
}
.footmi p{
    padding: 2%;
    font-weight: 300;
}
.bloodimg{
    height: 10vh;
    width: 7vw;
}

.footl{
    height: 30vh;
    width: 33vw;
    background-color: #E63838
    ;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.footl p{
    padding-left: 50%;
    padding-top: 18%;
}
.footl a{
    align-items: center;
}
.footimage{
   display: flex;
   padding-top: 2%;
   padding-left: 40%;

}
.imagefoot{
    height: 5vh;
    width: 4vw;
    padding: 2px;
    color: white;
}